.DS_Store
obj
bin
Assembly-CSharp-Editor-vs.csproj
docs/UnityAsteroidsExample/Assembly-CSharp-Editor.csproj
docs/UnityAsteroidsExample/Assembly-CSharp-vs.csproj
docs/UnityAsteroidsExample/Assembly-CSharp.csproj
docs/UnityAsteroidsExample/Library
docs/UnityAsteroidsExample/Temp
*.userprefs
